body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 18px;
}
h1 {
    font-family: "Trebuchet-MS", Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;

}
div {
    border: solid black 5px;
    padding: 0.5rem;
    margin-left: 35.5rem;
    display: inline-block;
}
.button {
    color: antiquewhite;
    font-size: 24px;
    margin: 0 auto;
}
.a {
    background-color: turquoise;
}
.b {
    background-color: rgba(138, 6, 6, 0.482);
} 
.c {
    background-color: rgb(196, 84, 224);
}
.button:hover {
    filter: brightness(130%);
}
