html,body,.background {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 18px;
    background: white;
    margin:0;
    padding: 0;
}
.background {
    width: 70%;
    height: 100%;
    background-color: tan;
    margin: 0 auto;
}
h1 {
    margin-top: 0;
    padding-top: 20px;
    font-family: "Trebuchet-MS", Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
}
div.linkbox {
    border: double black 5px;
    padding: 0.5rem;
    width: fit-content;
    margin: auto;
    background-color: antiquewhite;
}
.button {
    color: antiquewhite;
    font-size: 24px;
}
.button:hover {
    filter: brightness(130%);
}
.a {
    background-color: turquoise;
}
.b {
    background-color: rgba(138, 6, 6, 0.482);
} 
.c {
    background-color: rgb(196, 84, 224);
}

